html, body{
  margin: 0;
  padding: 0;
}

/*-----------
    HEADER
------------*/
.header{
  border-bottom: 1px solid #555;
  background: #eee;
}
.header_logo{
  float:left;
  margin: 9px;
  margin-right: 40px;
}
#logo{
  display: block;
  width: 80px;
  height: 40px;
}
.header_menu{
  float:middle;
  margin: 0;
  padding: 0;
}
.header_menu_item{
  display: inline-block;
}
.header_menu_item a{
  display: block;
  padding:20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  text-decoration: none;
}
.header_menu_item a:hover{
  font-weight: 700;
  background: #bbb;
  color: #F0F3F4;
}

.log{
  float: right;
  margin-right: 30px;
}
.log a:hover{
  font-weight: 700;
  background: #eee ;
  color: #E90D0D;
}

/*-----------
    CORPO
------------*/
.container{
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  border: 1px solid black;
  background: #eee;
}
.mySlides{
  /* Questi 2 attributi centrano l'immagine */
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
hr.space {
  width: 0%;
}
/*--------
  CARDS (3 IMMAGINI)
--------*/
.cards{
  margin-top: 50px;
}
.card{
    width: 30.3%;
    margin: 0 1.5%;
    background: #ffffff;
    float:left;
}
.card_copy{
    padding: 10px;
}
.card_copy h3{
    margin-bottom: 0;
}
.card_image{
    width: 100%;
    width: 400px;
    height: 260px;
}
.card:hover{
  font-weight: 700;
  background: #EBF5FB;
  margin-top: 5px;
  margin-bottom: 5px;
}


/*--------
  AGGIUSTA LE IMMAGINI PER I TABLET O SCHERMO A META'
--------*/
@media (max-width:1500px){
  .card{
      width: 97%;
      background: #ffffff;
      float:left;
      margin: 10px;
      border: 1px solid black;
      border-radius: 5px;
  }
  .card_copy{
      padding: 10px;
  }
  .card_image{
      width: 100%;
      width: 400px;
      height: 260px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}


/*-----------
  CLEARFIX (FLOAT)
------------*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
