#containerChangePassword {
    text-align: center;
    height: 30em;
    margin-left: 1em;
    margin-right: 1em;
}
#containerChangePassword .wrapInput{
    margin: 1em auto;
    display: block;
    width: 30em;
    display: flex;
    justify-content: space-around;
}
#containerChangePassword .wrapInput .labelInput {
    width: 13em;
    text-align: right;
}
#containerChangePassword .wrapInput input[type="password"] {
    margin-left: 0.5em;
    width: 15em;
}

#containerChangePassword .submitPassword {
    width: 15em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
    border-radius: 0.5em;
}

#containerChangePassword #correct {
    margin: 0.25em auto;
}

#containerChangePassword #errors {
    margin: 0.25em auto;
}

