#containerChangePassword {
    text-align: center;
    height: 30em;
}

#containerChangePassword .wrapInput{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#containerChangePassword .wrapInput .labelInput {
    width: 10em;
}

