/*-----------
MODIFICA UTENTE
------------*/
#editProfile {
    margin-left: 2em;
    margin-top:1em;
    height: 300em;
}

#formEditProfile {
    width: 20em;
}

#formEditProfile .wrapInput {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
}
#formEditProfile .wrapInput .labelInput {
    width: 13em;
}


#editProfile .wrapInput .input {
    padding: 0.4em;
}

.wrapInput img {
    width: 100px;
    margin-left: 20em;
}

#editProfile .submit {
    padding: 0.3em;
    width: 14em;
    border-radius: 0.3em;
    background-color: green;
    color: white;
}
#editProfile .delete {
    padding: 0.3em;
    width: 6em;
    border-radius: 0.3em;
    background-color: red;
    color: white;
    margin-left: 0.25em;
}


#editProfile .submit:hover,#editProfile .delete:hover {
    font-weight: bold;
    cursor: pointer;
}

#editProfile #birthday {
    width: 12em;
}
