.box{
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background: #fff;

}

.box input[type="text"], .box input[type="password"] {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    padding: 14px 20px;
    width: 200px;
    border-radius: 24px;
    transition: 0.25s;
}

.box h1{
    text-transform: uppercase;
    font-size: bold;
    font-weight: 500 bold;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 280px;
    border: 2px solid black;
}

.box input[type="submit"] {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    padding: 14px 20px;
    width: 100px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background-color: green;
    font-weight: bold;
    color: white;

}

.box a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#reg:hover{
  font-size: 18px;
  color: red;
}
/* QUESTO EVITA IL RETTANGOLO BLU QUANDO SI SELEZIONA UN CAMPO */
input:focus, textarea:focus {
    outline: none;
}
/*-----------
  CLEARFIX (FLOAT)
------------*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
