/*-----------
PROFILO UTENTE
-------------*/
#profile {
    margin: 2em 2em;
    height: 50em;
}

#profile table {
    width: 70%;
}

#profile table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

