/*-----------
    REGISTRAZIONE
------------*/
.containerRegistration {
    margin: 1em 2em;
}

.containerRegistration .registerForm {
    margin: 0 auto;
    width: 30em;
    display: block;
    float: left;
    text-align: center;
}
.containerRegistration .wrapInput{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.containerRegistration .wrapInput .labelInput{
   display: inline-block;
   width: 11em;
   text-align: right;
   margin-right: 1em;
}

#error {
    margin: 0.25em auto;
}

.submit {
    display: inline-block;
    border: 1px solid black;
    padding: 0.25em 0;
    width: 15em;
    border-radius: 0.5em;
    transition: 0.25s;
    cursor: pointer;
}

.submit:hover {
    background-color: green;
    font-weight: bold;
    color: white;
}


.cancel {
    display: inline-block;
    margin-left: 0.5em;
    border: 1px solid black;
    padding: 0.25em 0;
    width: 8em;
    border-radius: 0.5em;
    transition: 0.25s;
    cursor: pointer;
}

.cancel:hover {
    background-color: red;
    font-weight: bold;
    color: white;
}