/*-----------
INSERISCI PRODOTTO
------------*/
.insertProduct img {
    width: 10em;
    float: left;
}

/*-----------
MODIFICA PRODOTTO
------------*/
#formEditProduct {
    margin: 1em;
}

#formEditProduct img {
    width: 10em;
    float: left;
}
/*-----------
CANCELLA PRODOTTO
------------*/
#deleteProductWrapper {
    margin: 1em;
}
#deleteProductWrapper img{
    width: 10em;
}
#deleteProductWrapper .confirmation{
    text-align: center;
}

/*-----------
 Inserimento Categoria/Sottocategoria
------------*/
.insertCategory{
    margin:1em 2em;
}

.insertProduct{
    margin:1em 2em;
}

.wrapInput #newImage,.wrapInput #image{
    display:block;
    
}

/*-----------
GESTISCI PRODOTTI
------------*/
#manageStaffWrapper {
    margin: 1em;
}

#manageproduct #edit {
    display: block;
    padding: 0.2em 0.75em;
    border: solid 1px black;
    border-radius: 0.5em;
    background-color: #efefef;
}
#manageproduct #edit:hover {
    transition: 0.5s;
    color:white;
    background: green;
}
#manageproduct #multipleDelete {
    margin: 1em 0;
}
