


/*-----------
MODIFICA PRODOTTO
------------*/
#formEditProduct {
    margin-left: 1em;
}

#formEditProduct img {
    width: 10em;
    float: left;
}
/*-----------
CANCELLA PRODOTTO
------------*/
#product img{
    width: 10em;
}
#product .confirmation{
    text-align: center;
}

/*-----------
 Inserimento Categoria/Sottocategoria
------------*/
.insertCategory{
    margin:1em 2em;
}

.insertProduct{
    margin:1em 2em;
}

.wrapInput #newImage,.wrapInput #image{
    display:block;
    
}
