html, body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
a{
  text-decoration: none;
  color: #000;
}
/*-----------
    HEADER
------------*/
#header{
  background: #393e46;
  height: 9em;
}
.headerLogo{
  float:left;
  margin: 9px;
  margin-right: 40px;
}
#logo{
  display: block;
  width: 8em;
  height: 8em;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 9em;
    margin: 0;
}

#subMenu {
    display:none;
}

#login{
    width: 17em;
    text-align: center;
    padding: 1em 1em;
    border-radius: 0.5em;
    display: flex;
    justify-content: flex-end;

}

#login a{
    text-decoration: none;
    color: white;
    padding: 1em 1em;
    text-transform: uppercase;
    margin: 0;
}
#login a:first-child {
    border-right: 2px solid white;
}
#login a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.headerMenu{
  float:middle;
  margin: 0;
  padding: 0;
}
.headerMenuItem{
  display: inline-block;
}
.headerMenuItem a{
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  text-decoration: none;
  width: 7em;
  padding: 1em 0.5em;
  text-align: center;
  border-radius: 0.5em;
}
.headerMenuItem a:hover{
  font-weight: bold;
  color:black;
  background-color: #fca905;
  transition: 0.5s;
}

.headerMenu li:hover #subMenu {
    display: block;
    position:absolute;
    background-color: #393e46;
    transition: 1s;
    width: 9.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 1;
}

.headerMenu li:hover #subMenu li{
   list-style-type: none;
   margin-bottom: 0.5em;
}

.headerMenu li:hover #subMenu a{
   margin-left: -2em;
}


.log{
  float: right;
  margin-right: 30px;
}
.log a:hover{
  font-weight: 700;
  background: #eee ;
  color: #E90D0D;
}

/*-----------
    CORPO
------------*/
.container{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background: #eee;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


#slideshow{
    height: 40em;
}

/*@keyframes fade {
    0%,100% {opacity: 0;}
    30%,80% {opacity: 1;}
}*/

.mySlides{
  /* Questi 2 attributi centrano l'immagine */
  border-radius: 0.25em;
  margin: 0 auto;
  height: 100%;
  max-width: 960px;
  display:flex;
  /*animation-delay: 1s;
  animation: fade 9s infinite;*/
  z-index: -9999;
}

/*--------
  CARDS (3 IMMAGINI)
--------*/
.cards{
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
}
.card{
    background: #ffffff;
    margin: 0.25em;
}

.card_copy{
    padding: 0.25em;
    text-align: center;
}
.card_copy h3{
    margin: 0;
    padding: 0.5em 0;
}
.card_image{
    width: 100%;
    height: 25em;
}
/*--------
  CHI SIAMO
--------*/

.whoWrapper{
    margin-left: 5%;
    margin-right: 5%;
}

.whoWrapper .card {
    width: 20%;
}

.whoWrapper .card img {
    width: 100%;
}
/*-----------
    FOOTER
------------*/

#footer{
  clear: both;
    background: #393e46;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#footer a{
    text-decoration: none;
    color:white;
    padding: 0.25em 0.5em;
    width: 8em;
}

#footer a:hover{
    font-weight: bold;
}


/*--------------
CONTATTACI
--------------*/
.contactWrapper {
    width: 100%;
    height:50em;
    background-image: url("images/contattaci.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contactWrapper h1 {
    margin-top: 0;
    text-align: center;
    color: white;
    padding: 2em;
}

.contactContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.emailContainer {
    text-align: center;
    height: 100%;
    float: left;
    margin-right: 5em;
    background-color: white;
    padding: 0.5em;
    height: 20em;
    width: 15em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.emailContainer:hover{
  color:black;
  font-size: 16.5px;
  background-color: #fca905;
  transition: 0.5s;
}

.phoneContainer {
    text-align: center;
    height: 100%;
    background-color: white;
    height: 20em;
    width: 15em;
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.phoneContainer:hover{
  color:black;
  font-size: 16.5px;
  background-color: #fca905;
  transition: 0.5s;
}

/*--------------
MODALITA DI ACQUISTO
--------------*/
#containerInfoShop {
    margin: 0;
    padding-left: 1em;
}

#containerInfoShop h1 {
    text-align: center;
}

#containerInfoShop .contentInfoShop p{
    margin-bottom: 3em;
}
#containerInfoShop .contentInfoShop h3{
    margin-left: 1.5em;
}
/*--------------
PRIVACY POLICY
--------------*/
#containerPrivacyPolicy {
    margin-left: 1em;
    margin-right: 1em;
}

/*------------
CATALOGO
------------*/
#menuCatalogo {
    width: 14em;
    float: left;
    height: 100%;
}

#menuCatalogo ul {
    list-style-type: none;
    padding-left: 0.5em;
}

#menuCatalogo ul ul {
    display: block;
    margin: 0 auto;
    padding: 0;
}

#menuCatalogo .topCategories {
    padding: 0.5em 2em;
    margin: 0.5em 0;
    width: 9em;
    border: 1px solid black;
    border: 1px solid black;
    border-radius: 0.5em;
}
#menuCatalogo ul ul li {
    padding: 0.3em 1em;
    margin: 0.5em auto;
    width: 7em;
}

#menuCatalogo ul ul li:last-child {
    border:none;
}

#menuCatalogo .topCategories a {
    margin: 1em auto;
    text-align: center;
    text-transform: uppercase;
    color: dodgerblue;
    font-weight: bold;
}

#menuCatalogo ul ul li a {
    text-align: center;
}



#menuCatalogo h3 {
    text-align: center;
    padding: 0.5em;
    margin: 0 0.5em;
    border: 1px solid dodgerblue;
    border-radius: 0.5em;
    background-color: dodgerblue;
    color: white;
}

#contentCatalogo {
    margin-left: 14em;
    margin-right: 2em;
    padding-left: 1em;
}

#contentCatalogo #totaleProdotti {
    color:#9b9b9b;
}

#contentCatalogo #cerca input {
    padding: 0.4em 0;
    width: 60%;
    border-radius: 0.5em;
}

#containerProdotti {
    width: 100%;
}

#containerProdotto {
    float: left;
    width: 45%;
    height: 400px;
    padding: 0 1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    margin: 0.5em;
}

#containerProdotto img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height:70%;
}

#containerProdotto .price {
    font-size: 20px;
    margin-bottom: 0.5em;
}

#containerProdotto .info {
    margin-bottom: 0;
}


/*----------
BARRA PAGINAZIONE
----------*/
#pagination {
    clear: both;
    margin: 2em 0;
}

.paginaCorrente {
    float: right;
    color: #9b9b9b;
}

.barraPaginazione {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 1em;
}

/*---------
PAGINA PRODOTTO
---------*/
#product {
    padding-left: 2em;
    margin-left: 14em;
}

#product img {
    display: block;
    float: left;
    width: 40%;
    margin-right: 1em;
}
#product .infoWrapper {
    margin: 1em;
}

#product .sconto {
    color: red;
    font-weight: bold;
}

#product .price {
    font-size: 18px;
}

#product .sconto {
    font-size: 16px;
}

#product .realPrice {
    font-size: 14px;
}

#product #descBreve {
    clear: both;
}

/*--------
  AGGIUSTA LE IMMAGINI PER I TABLET O SCHERMO A META'
--------*/
@media (max-width:1500px){
  .card{
      width: 97%;
      background: #ffffff;
      float:left;
      margin: 10px;
      border: 1px solid black;
      border-radius: 5px;
  }
  .card_copy{
      padding: 10px;
  }
  .card_image{
      width: 100%;
      width: 400px;
      height: 260px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}

/*---------
USER
---------*/
#welcomeUser {
    margin-top: 1em;
    margin-right: 0.5em;
    width: 20em;
    text-align: center;
    padding: 1em 1em;
    display: flex;
    justify-content: flex-end;
}

#welcomeUser li{
   list-style-type: none;
}

#welcomeUser div a {
    color: white;
    font-weight: bold
}

#welcomeUser div  {
    padding-right: 1em;
}



#welcomeUser li a{
    text-decoration: none;
    color: white;
    padding: 1em 1em;
    text-transform: uppercase;
    margin: 0;
    border-left: 2px solid white;
}
#welcomeUser a:hover{
    font-weight: bold;
    text-decoration: underline;
}
/*---------
   ADMIN
---------*/

#headerAdmin{
  background: #393e46;
  height: 3.5em;
  padding-left: 8%;
  padding-right: 8%;
}
#logout{
    float: right;
}
#logout a{
    color: red;
}

.adminContainer{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 700px;
}
/*-------
PRODUCT PRICE
--------*/
.containerPriceCatalog{
    display: flex;
    margin-top: -1.5em;
}

.containerPriceCatalog .priceCatalog {
    font-size: 22px;
}

.containerPriceCatalog .realPriceCatalog {
    margin-left: 1em;
    font-size: 12px;
    margin-top: 0.5em;
    color: red;
}


/*----------
    VARIE
----------*/
.border{
    border: solid black 1px
}

.errors{
    color: red;
}