html, body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

input[type="text"],input[type="submit"],input[type="date"],input[type="select"] {
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
/*-----------
    HEADER
------------*/
#header{
  background: #393e46;
  height: 9em;
}
.headerLogo{
  float:left;
  margin: 9px;
  margin-right: 40px;
}
#logo{
  display: block;
  width: 8em;
  height: 8em;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 9em;
    margin: 0;
}

#subMenu {
    display:none;
}

#login{
    width: 17em;
    text-align: center;
    padding: 1em 1em;
    border-radius: 0.5em;
    display: flex;
    justify-content: flex-end;

}

#login a{
    text-decoration: none;
    color: white;
    padding: 1em 1em;
    text-transform: uppercase;
    margin: 0;
}
#login a:first-child {
    border-right: 2px solid white;
}
#login a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.headerMenu{
  float:middle;
  margin: 0;
  padding: 0;
}
.headerMenuItem{
  display: inline-block;
}
.headerMenuItem a{
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  text-decoration: none;
  width: auto;
  padding: 1em 0.5em;
  text-align: center;
  border-radius: 0.5em;
}
.headerMenuItem a:hover{
  font-weight: bold;
  color:black;
  background-color: #fca905;
  transition: 0.5s;
}

.headerMenu li:hover #subMenu {
    display: block;
    position:absolute;
    background-color: #393e46;
    transition: 1s;
    width: 10em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 1;
}

.headerMenu li:hover #subMenu li{
   list-style-type: none;
   margin-bottom: 0.5em;
}

.headerMenu li:hover #subMenu a{
   margin-left: -2.2em;
}

/*----------
CONTENT
-----------*/


#container{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}



.log{
  float: right;
  margin-right: 30px;
}
.log a:hover{
  font-weight: 700;
  background: #eee ;
  color: #E90D0D;
}
/*-----------
    FOOTER
------------*/

#footer{
  clear: both;
    background: #393e46;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#footer a{
    text-decoration: none;
    color:white;
    padding: 0.25em 0.5em;
    width: 8em;
}

#footer a:hover{
    font-weight: bold;
}

/*----------
BARRA PAGINAZIONE
----------*/
#pagination {
    clear: both;
    margin: 2em 0;
}

.paginaCorrente {
    float: right;
    color: #9b9b9b;
}

.barraPaginazione {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 1em;
}
/*---------
USER
---------*/
#welcomeUser {
    margin-top: 1em;
    margin-right: 0.5em;
    width: 20em;
    text-align: center;
    padding: 1em 1em;
    display: flex;
    justify-content: flex-end;
}

#welcomeUser li{
   list-style-type: none;
}

#welcomeUser div a {
    color: white;
    font-weight: bold
}

#welcomeUser div  {
    padding-right: 1em;
}



#welcomeUser li a{
    text-decoration: none;
    color: white;
    padding: 1em 1em;
    text-transform: uppercase;
    margin: 0;
    border-left: 2px solid white;
}
#welcomeUser a:hover{
    font-weight: bold;
    text-decoration: underline;
}
/*---------
   ADMIN
---------*/

#headerAdmin{
  background: #393e46;
  height: auto;
  padding-left: 8%;
  padding-right: 8%;
}
#logout{
    float: right;
}
#logout a{
    color: red;
}

.adminContainer{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 700px;
}

/*----------
MENU USER
----------*/
.headerMenuItemAuth a{
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  text-decoration: none;
  width: 10em;
  padding: 1em 0.5em;
  text-align: center;
  border-radius: 0.5em;
}

.headerMenuItemAuth a:hover{
  font-weight: bold;
  color:black;
  background-color: #fca905;
  transition: 0.5s;
}
.headerMenuItemAuth{
  display: inline-block;
}

.menuContainerAuth {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 9em;
    margin: 0;
}

.headerMenuItemStaff a{
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  text-decoration: none;
  width: 9em;
  padding: 1em 0.5em;
  text-align: center;
  border-radius: 0.5em;
}
.headerMenuItemStaff a:hover{
  font-weight: bold;
  color:black;
  background-color: #fca905;
  transition: 0.5s;
}

.headerMenuItemStaff{
  display: inline-block;
}

/*----------
    VARIE
----------*/
.border{
    border: solid black 1px
}

.button{
    padding: 0.25em 0.5em;
    width: max-content;
    border-radius: 0.5em;
    background-color: dodgerblue;
    color: white;
    margin-left: 0.25em;
    cursor: pointer;
    margin-bottom: 1em; 
}

.button:hover{
    font-weight: bold;
}

.errors {
    background-color: #FAE5E5;
    width: max-content;
    padding: 0.75em 1em;
    list-style-type: none;
    border-radius: 0.5em;
}

.errors li {
    color:red;
}


.success {
    width: 20em;
    padding: 1.5em 1em;
    background-color: #DFF0D8;
    list-style-type: none;
    border-radius: 0.5em;
}

.success li{
    color: #8CAC88;
}
.submit {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    padding: 14px 20px;
    width: 100px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.submit:hover {
    background-color: green;
    font-weight: bold;
    color: white;

}


/*-----------
    TABELLA
------------*/
.table {
    border-collapse: collapse;
    margin: 15 px;
}

.table td {
    padding:15px;
}

.table th {
    background-color: #fca905;
    padding: 15px;
}

.table #descLunga {
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*--------
  AGGIUSTA LE IMMAGINI PER I TABLET O SCHERMO A META'
--------*/
@media (max-width:1500px){
  .card{
      width: 97%;
      background: #ffffff;
      float:left;
      margin: 10px;
      border: 1px solid black;
      border-radius: 5px;
  }
  .card_copy{
      padding: 10px;
  }
  .card_image{
      width: 100%;
      width: 400px;
      height: 260px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}

