/*-----------
PROFILO UTENTE
-------------*/
#profile {
    margin: 2em 2em;
}

#profile table {
    width: 70%;
}

#profile table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
/*------------
CAMBIO PASSWORD
-------------*/
#containerChangePassword {
    text-align: center;
    height: 30em;
    margin-left: 1em;
    margin-right: 1em;
}
#containerChangePassword .wrapInput{
    margin: 1em auto;
    display: block;
    width: 30em;
    display: flex;
    justify-content: space-around;
}
#containerChangePassword .wrapInput .labelInput {
    width: 13em;
    text-align: right;
}
#containerChangePassword .wrapInput input[type="password"] {
    margin-left: 0.5em;
    width: 15em;
}

#containerChangePassword .submitPassword {
    width: 15em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
    border-radius: 0.5em;
}

#containerChangePassword #correct {
    margin: 0.25em auto;
}

#containerChangePassword #errors {
    margin: 0.25em auto;
}

/*-----------
MODIFICA UTENTE
------------*/
#editProfile {
    margin: 1em 2em;
    height: max-content;
}

#formEditProfile {
    width: 30em;
}

#formEditProfile .wrapInput {
    margin: 1em;
    display: block;
    float: left;
}
#formEditProfile .wrapInput .labelInput {
    width: 13em;
}


#editProfile .wrapInput .input {
    padding: 0.4em;
}

.wrapInput img {
    width: 100px;
    margin-left: 20em;
}

#editProfile .submit {
    padding: 0.3em;
    width: 10em;

}
#editProfile .delete {
    padding: 0.3em;
    width: 6em;
    border-radius: 0.3em;
    background-color: red;
    color: white;
    margin-left: 0.25em;
}

#editProfile .submit:hover,#editProfile .delete:hover {
    font-weight: bold;
    cursor: pointer;
}

#editProfile #birthday {
    width: 12em;
}


